{
    "plugins": ["meteor"],
    "extends": ["plugin:meteor/recommended", "airbnb"],
    "rules": {
        "import/no-unresolved": ["error", { "ignore": ["^meteor/", "^/"] }],
        "import/no-extraneous-dependencies": "off"

    }
}